[submodule "babble"]
	path = babble
	url = git@github.com:vfx-rs/babble.git
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "bbl-usd"]
	path = bbl-usd
	url = git@github.com:anderslanglands/bbl-usd.git
